@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

.loading {
    margin-top: 250px;
    margin-left: 400px;
    margin-right: 400px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}