@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

.profile {
    text-align: center;
    margin-top: 150px;
    margin-left: 800px;
    margin-right: 800px;
}

.profileText {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid gray;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}